version: '2.4'

networks:
    proxy-re-net:
      external:
        name: proxy-re-net

services:
 {{ service_branch }}-{{ service_name }}:
  image: {{ service_image }}
  restart: always
  container_name: {{ service_branch }}-{{ service_name }}
  mem_limit: 1000m
  labels:
    - "local.env={{ service_branch }}"
  volumes:
    - ./kibana.yml:/usr/share/kibana/config/kibana.yml:ro
  environment:
    - ELASTICSEARCH_URL=http://{{ es_external_url }}:9200
    - ELASTICSEARCH_HOSTS=http://{{ es_external_url }}:9200
    - VIRTUAL_PORT=5601
    - VIRTUAL_HOST={{ kibana_external_url }}
    - LETSENCRYPT_HOST={{ kibana_external_url }}
    - LETSENCRYPT_EMAIL=admin@{{ kibana_external_url }}
  networks:
    proxy-re-net:
      aliases:
        - {{ service_name }}
  expose:
    - 5601
  logging:
    driver: json-file
    options:
       labels: "com.docker.compose.service"

